#cen{
    
    margin-top: 300px;
    
    
    
    
    
}





#square{
    
    width: 270px;
    height: 100px;
    background: white;
    border: 2px dashed black ;
    margin-left: 40.3333%;
    margin-top: 50px;
    
    
}
.container{
    
    text-align: center;
    border: hidden;
    height: 100%;
    width: 100%;
    
    
    
}